{% load static %}
{% load carts_tags %}

{% user_carts request as carts %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
    {% block css %}{% endblock  %}
</head>
<body>
    <header class="header">
        <div class="home">
            <a href="{% url 'home' %}">
                <img src="{% static 'main/img/cart.svg' %}">
            </a>
        </div>
        <div class="menu">
            <div class="menu1">
                <ul class="menu__nav">
                    {% for category in categories %}
                    <li class="menu_item">
                        <a href="{% url 'category' category.slug %}" >{{category.name}}</a>
                    </li>
                    {% endfor %}
                    <li class="menu_item">
                        <a href="{% url 'faq' %}">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="options">
            <ul class="options__nav">
                {% if not user.is_authenticated %}
                    <li class="options__item">
                        {% block loginBtn %}
                            <button onclick="showLogin()" class="loginBtn">
                            <img src="{% static 'main/img/profile.svg' %}">
                            </button>
                        {% endblock  %}
                    </li>     
                {% else %}
                    {% if not order %}
                        <li class="options__item">
                            {% block cartBtn %}
                                <button onclick="showCart()" class="cartBtn">
                                    <img src="{% static 'main/img/cart.svg' %}">
                                </button>
                                <span id="goods-in-cart-count">{{ carts.total_quantity }}</span>
                            {% endblock  %}
                        </li>
                    {% endif %}
                    <li class="options__item">
                        <a href="{% url 'logout' %}"><img src="{% static 'main/img/exit.svg' %}"></a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <form id="cart_items_container" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeCart()">×</span>
                    <div class="headName">Корзина</div>
                    <div id="cart_items">
                        {% include "carts/includes/included_cart.html" %}
                    </div>
            </div>
        </form>
            <form method="post" id="loginModal" class="modal">
                <div class="modal-content">
                    <div class="close" onclick="closeLogin()">×</div>
                    <div class="headName">Вход в аккаунт</div>
                    <div class="field-holdeer">
                        <input type="text" class="form-control login"
                        value="{% if form.username.value %}{{ form.username.value }}{% endif %}" 
                        name="username" id="id_username" required>
                        <label for="id_username" class="form-label login">Имя пользователя</label>
                    </div>
                    <div class="field-holdeer">
                        <input type="password" class="form-control login" 
                        value="{% if form.password.value %}{{ form.password.value }}{% endif %}" 
                        name="password" id="id_password" required>
                        <label for="id_password" class="form-label login">Пароль</label>
                    </div>
                    <button class="enterLogin">Войти</button>
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                    <p id="ErrorForm">{{ form.non_field_errors }}</p>
                    {% endif %}
                    <div id="downRegistr">Нет аккаунта? <a href="{% url 'registration' %}";>Зарегистрироваться</a></div>
                </div>
            </form>
        <script src="{% static 'main/js/jquery/jquery-3.7.1.min.js' %}"></script>
        <script src="{% static 'main/js/jquery-ajax.js' %}"></script>
        <script src="{% static 'main/js/main.js' %}"></script>
        {% block js %}{% endblock  %}
    </header>
    <main>
        {% block content %}{% endblock  %}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div id="jq-notification" class="message">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div id="jq-notification" class="message"></div>
        {% endif %}
    </main>
    <footer>
        <p>МОЯ КОМПАНИЯ</p>
    </footer>
</body>
</html>

