{% extends "main/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/1.css' %}">
{% endblock  %}

{% block content %}
    <div class="content">
        {% for product in product %}
            <div class="items">
                <div class="product">
                    {% if product.img %}
                        <img src="{{ product.img.url }}" alt="">
                    {% else %}
                        <img src="{% static 'main/img/cart.svg' %}" alt="">
                    {% endif %}
                    <p>{{product.product_name}}</p>
                    <hr>
                    <p>{{product.description}}</p>
                    <a href="{% url 'product' product.slug %}">ПОДРОБНЕЕ</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock  %}
