{% extends "main/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/1.css' %}">
{% endblock  %}

{% block content %}
    <div class="FiltersContainer">
        <div>
            <h2 class="InfoText">{{ categoriName }}</h2>
        </div>
        <div class="Line"></div>
        <div class="FiltersBtn">
            <form method="get" class="FiltersForm">
                    <button class="filterButton" name="order_by"
                    value="-product_price" type="submit">От большей к меньшей</button>
                    
                    <button class="filterButton" name="order_by"
                    value="default" type="submit">По умолчанию</button>
                    
                    <button class="filterButton" name="order_by"
                    value="product_price" type="submit">От меньшей к большей</button>
                    
                </form>
        </div>
    </div>

    <div class="content" id="SortingList">
        {% for product in product %}
        <div class="papa" data-price="{{ product.product_price }}">
            <a href="{% url 'product' product.slug %}">
                <div class="detailed">Подробнее</div>
            </a>
            <div>
                {% if not user.is_authenticated %}     
                {% else %}
                    {% if product.quantity == 0 %}
                    <div class="addCarting">Товара нет в наличии</div>
                    {% else %}
                    <a href="{% url "cart:cart_add" %}"
                    class="add-to-cart addCarting"
                    data-product-id="{{ product.id }}">
                    {% csrf_token %}
                    Добавить в корзину</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="item">
                <div class="product">
                    {% if product.img %}
                        <img src="{{ product.img.url }}">
                    {% else %}
                        <img src="{% static 'main/img/cart.svg' %}">
                    {% endif %}
                        <div class="productName">{{product.product_name}}</div>
                        <div class="productPrice">Цена: {{product.product_price}} р.</div>
                        <div class="productDescription">{{product.description}}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock  %}