{% extends "main/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/1.css' %}">
{% endblock  %}

{% block content %}

    <div class="FiltersBtn">
        <button id="filterButton">Фильтры</button>
            <form action="" method="get" id="filters" class="filters">
                <p>Сортировать:</p>
                <div>
                    <input type="radio" name="order_by" value="default"
                    {% if not request.GET.order_by or request.GET.order_by == 'default' %}checked{% endif %}>
                    <label>По умолчанию</label>
                </div>
                <div class="form-check text-white mx-3">
                    <input type="radio" name="order_by" value="product_price" 
                    {% if request.GET.order_by == 'product_price' %}checked{% endif %}>
                    <label>От дешевых к дорогим</label>
                </div>
                <div class="form-check text-white mx-3">
                    <input type="radio" name="order_by" value="-product_price"
                    {% if request.GET.order_by == '-product_price' %}checked{% endif %}>
                    <label>От дорогих к дешевым</label>
                </div>
                <button type="submit">Применить</button>
            </form>
    </div>

    <div class="content">
        {% for product in product %}
        <div class="papa">
            <a href="{% url 'product' product.slug %}">
                <div class="detailed">Подробнее</div>
                <div >
                    {% if not user.is_authenticated %}     
                    {% else %}
                        <a href="{% url "cart:cart_add" %}"
                        class="add-to-cart addCarting"
                        data-product-id="{{ product.id }}">
                        {% csrf_token %}
                        Добавить в корзину</a>
                    {% endif %}
                </div >
                <div class="item">
                    <div class="product">
                        {% if product.img %}
                            <img src="{{ product.img.url }}">
                        {% else %}
                            <img src="{% static 'main/img/cart.svg' %}">
                        {% endif %}
                            <div class="productName">{{product.product_name}}</div>
                            <div class="productPrice">Цена: {{product.product_price}} р.</div>
                            <div class="productDescription">{{product.description}}</div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock  %}
