{% extends "main/base.html" %}
{% load static %}

{% block cartBtn %}
    <button onclick="showCart()" class="cartBtn">
        <img src="{% static 'main/img/cart.svg' %}" width="30" height="30">
    </button>
    <span id="goods-in-cart-count">{{ carts.total_quantity }}</span>
{% endblock  %}
{% block loginBtn %}
    <button onclick="showLogin()" class="regBtn">
    <img src="{% static 'main/img/profile.svg' %}" width="30" height="30">
    </button>
{% endblock  %}
{% block cart %}
    <form id="cartModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeCart()">×</span>
            <h2>cart</h2>
            <a href="{% url 'order' %}" style=color:black;>Оформить заказ</a>
        </div>
    </form>
{% endblock  %}
{% block login %}
    <form method="post" id="loginModal" class="modal">
        <div class="modal-content">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <p>{{ form.non_field_errors }}</p>
            {% endif %}
            <span class="close" onclick="closeLogin()">×</span>
            <h2>Вход в аккаунт</h2>
            <label for="id_username" class="form-label">Имя пользователя</label>
            <input type="text" class="form-control"
            value="{% if form.username.value %}{{ form.username.value }}{% endif %}" 
            name="username" id="id_username"
            placeholder="Имя пользователя"
            required>
            <label for="id_password" class="form-label">Пароль</label>
            <input type="password" class="form-control" name="password" placeholder="Пароль" id="id_username" required>
            <button>Войти</button>
            <p>Нет аккаунта? <a href="{% url 'registration' %}" style=color:black;>Зарегистрироваться</a></p>
        </div>
    </form>
{% endblock  %}
{% block content %}
Зачем все это?
Вызывающе, дорого, престижно — это понятия, которыми руководствуются рабы моды. Наша продукция является жестом неуважения к людям гламурного разума.
Почему так дорого?
Мы используем одну из самых дорогих тканей и материалов в наших изделиях, в то время как весь рынок нацелен на дешевое производство.
Будет ли еще товар, кроме футболок, свитшотов и т.д?
Все зависит от спроса. Производство качественных вещей дорогостоящее, поэтому мы сначала рассуждаем: нужна ли эта новая вещь. Сейчас мы планируем запустить производство новых рюкзаков.
Что именно отличает ваш товар от других?
Смелость, в первую очередь. Нам плевать, что написано на футболке. Главное – удобство. Мы придирчивы ко всем мелочам и наши бирки тому подтверждение. Также, к товарам прилагается оригинальная подпись Алексея Шевцова, отражающая наше неравнодушие к покупателю.
Что с качеством?
Мы не делаем то, чего бы сами не использовали.
Что такое "трек-номер" и где его искать?
Трек-номер – это номер, с помощью которого вы можете отслеживать местоположение ваших вещей. Найти его вы можете в личном кабинете на сайте, в вашем электронном ящике, а также в сообщении на телефоне после отправки посылки.
    
{% endblock  %}