{% extends 'main/base.html' %}
{% load static %}

{% block faq %}{% endblock  %}
{% block loginBtn %}{% endblock  %}
{% block content %}


<form method="post" class="ResetModal">
    {% csrf_token %}
    <div class="field-holdeer">
        <input type="password" class="form-control login"  
        name="new_password1" id="new_password1" required>
        <label for="new_password1" class="form-label login">Новый пароль:</label>
    </div>
    <div class="field-holdeer">
        <input type="password" class="form-control login"  
        name="new_password2" id="new_password2" required>
        <label for="new_password2" class="form-label login">Подтвердите пароль:</label>
    </div>

    <button class="enterLogin" type="submit">Сбросить пароль</button>
</form>

{% endblock %}