{% extends "main/base.html" %}
{% load static %}

{% block content %}
    <div class="products">
        <div class="ImgContainer">
            {% if product.img %}
                <img src="{{ product.img.url }}" class="productImg">
            {% else %}
                <img src="{% static 'main/img/cart.svg' %}" class="productImg">
            {% endif %}
        </div>
        <div class="productDescript">
            <p class="productTitle">{{product.product_name}}</p>
            <p class="productInf">{{product.description}}</p>
            {% if product.quantity == 0 %}
                <p class="productInf">Товара нет в наличии</p>    
            {% else %}
                {% if product.discount %}
                    <div>
                        <div class="line-container">
                            <p class="productDiscount">{{ product.product_price }} руб.
                            <sup class="productCost">-{{product.discount}}%</sup></p>
                        </div>
                    </div>

                    <p class="productInf">{{ product.sell_price }} руб.</p>
                    
                {% else %}
                    <p class="productInf">{{product.product_price}} руб.</p>
                {% endif %}
                {% if not user.is_authenticated %}     
                {% else %}
                    <a href="{% url "cart:cart_add" %}"
                    class="add-to-cart AddProduct"
                    data-product-id="{{ product.id }}">
                    {% csrf_token %}
                    Добавить в корзину</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock  %}

