{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
    <script src="{% static 'myapp/js/main.js' %}"></script>
</head>
<body>
    <header class="header">
        <div class="home">
            <a href="{% url 'home' %}">
                <img src="{% static 'main/img/cart.svg' %}" width="30" height="30">
            </a>
        </div>
        <div class="menu">
            <div class="menu1">
                <ul class="menu__nav">
                    {% for category in categories %}
                    <li class="menu_item">
                        <a href="{% url 'category' category.slug %}">{{category.name}}</a>
                    </li>
                    {% endfor %}
                    <li class="menu_item">
                        <a href="">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="options">
            <ul class="options__nav">
                <li class="options__item">
                    <a href=""><img src="{% static 'main/img/cart.svg' %}" width="30" height="30"></a>
                </li>
                <li class="options__item">
                    <button id="registerBtn" class="regBtn"class="button-class"><img src="{% static 'main/img/profile.svg' %}" width="30" height="30"></button>
                </li>
            </ul>
        </div>
        <div id="registerModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Регистрация</h2>
                <form>
                    <label for="username">Имя пользователя:</label>
                    <input type="text" id="username" required><br>
                    <label for="email">Email:</label>
                    <input type="email" id="email" required><br>
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" required><br>
                    <button type="submit">Подтвердить</button>
                </form>
            </div>
        </div>
        <script src="{% static 'main/js/main.js' %}"></script>
    </header>
    <main>
        <div class="content">
            <ul class="content__items">
                <li class="items">
                    <div class="products">
                        {% if product.img %}
                            <img src="{{ product.img.url }}" alt="">
                        {% else %}
                            <img src="{% static 'main/img/cart.svg' %}" width="30" height="30" alt="">
                        {% endif %}
                        <p>{{product.product_name}}</p>
                        <hr>
                        <p>{{product.description}}</p>
                        <hr>
                        <p>Осталось:{{product.quantity}}</p>

                            {% if product.discount %}
                                <p><s>{{product.product_price}}</s>  $</p>
                                <p><strong>{{ product.sell_price }}  $</strong></p>
                                <p>Скидка:{{product.discount}}%</p>
                            {% else %}
                                <p>{{product.product_price}} $</p>
                            {% endif %}

                        <p>id товара:{{product.display_id}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <footer>
        <p>МОЯ КОМПАНИЯ</p>
    </footer>
</body>
</html>

