{% extends "main/base.html" %}
{% load static %}

{% block content %}
    <div class="products">
        
        <div class="ImgContainer">
            <div class="ImgContainerBackground"></div>
            {% if product.img %}
                <div class="sliderContainer">
                    <div class="slider">
                        <div class="slides">
                            <div class="slide"><img src="{% static 'main/img/kartinki/kartinka1.png' %}" class="productImg"></div>
                            <div class="slide"><img src="{% static 'main/img/kartinki/kartinka2.png' %}" class="productImg"></div>
                            <div class="slide"><img src="{% static 'main/img/kartinki/kartinka3.png' %}" class="productImg"></div>
                            <div class="slide"><img src="{% static 'main/img/kartinki/kartinka1.png' %}" class="productImg"></div>
                            <div class="slide"><img src="{% static 'main/img/kartinki/kartinka3.png' %}" class="productImg"></div>


                        </div>
                        <div class="arrow arrowLeft"><img src="{% static 'main/img/arrowSlider/arrowLeft.png' %}" class=""></div>
                        <div class="arrow arrowRight"><img src="{% static 'main/img/arrowSlider/arrowRight.png' %}" class=""></div>
                    </div>
                    <div class="dots">
                        <div class="dot activeDot" data-index="0"></div>
                    </div>
                </div>

            {% else %}
                <img src="{% static 'main/img/cart.svg' %}" class="productImg">
            {% endif %}
        </div>

        <div class="productDescript">
            <div class="productTitle">{{product.product_name}}</div>
            <div class="productInf">{{product.description}}</div>
            {% if product.quantity == 0 %}
                <div class="productInf">Товара нет в наличии</div>    
            {% else %}

            <div class="sizeProductContainer">
                <div class="size sizeProduct activeSize">XS</div>
                <div class="size sizeProduct">S</div>
                <div class="size sizeProduct">M</div>
                <div class="size sizeProduct">L</div>
                <div class="size sizeProduct">XL</div>
            </div>

            <div class="productCountContainer">
                
                <button type="button" class="btn productCountDelete" data-cart-id="355" data-cart-change-url="/cart/cart_remove/">
                <input type="hidden" name="csrfmiddlewaretoken" value="gCWlcsP6V4ymqYjPABDi261Ukev3qPnz1ofAM37znNRlMPyPUaSwZsbaqoSOiKTw">
                —</button>
            
                <input type="text" class="numberProducts" value="1" readonly="">
            
                <button type="button" class="btn productCountIncrement" data-cart-id="355" data-cart-change-url="/cart/cart_change/">
                <input type="hidden" name="csrfmiddlewaretoken" value="gCWlcsP6V4ymqYjPABDi261Ukev3qPnz1ofAM37znNRlMPyPUaSwZsbaqoSOiKTw">
                +</button>
            
            </div>

                {% if product.discount %}
                    <div class="line-container">
                        <div class="productDiscount">{{ product.product_price }} руб.
                        <sup class="productCost">-{{product.discount}}%</sup></div>
                    </div>

                    <div class="productInf">{{ product.sell_price }} руб.</div>

                {% else %}
                    <div class="productInf">{{product.product_price}} руб.</div>
                {% endif %}
                {% if not user.is_authenticated %}        
                    <abbr data-title="Необходимо войти в аккаунт">
                        <a class="AddProduct">Добавить в корзину</a>
                    </abbr>
                {% else %}
                    <a href="{% url "cart:cart_add" %}"
                    class="add-to-cart AddProduct"
                    data-product-id="{{ product.id }}">
                    {% csrf_token %}
                    Добавить в корзину</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock  %}

