{% extends "main/base.html" %}
{% load static %}

{% block profile %}{% endblock  %}
{% block content %}
    <div class="profileContainer">

        <div class="profileNav">

            <div class="profileTitle">Навигация</div>
            <div class="profileNavContainer">
                <a href="#" class="nav navPersnInf activeNav">Персональные данные</a>
                <a href="#" class="nav navMyOrders">Мои заказы</a>
                <a href="#" class="nav navPasswrd">Смена пароля</a>
                <a href="#" class="nav navAdditSett">Дополнительные <br>настройки</a>
                <a href="{% url 'logout' %}" class="nav exit">Выход из аккаунта</a>
            </div>

        </div>


        <div class="tab profileInf activeTab">
            <div class="profileTitle">Данные пользователя</div>

            <form action="{% url 'userInfo' %}" method="post" id="loginModal" class="profileInfContainer">

                <div class="infBlock">
                    <label for="id_first_name" class="infTitle">Имя</label>
                    <input type="text" class="infInput" 
                    name="first_name" id="id_first_name" required placeholder="Введите имя">
                </div>

                <div class="infBlock">
                    <label for="id_last_name" class="infTitle">Фамилия</label>
                    <input type="text" class="infInput"  
                    name="last_name" id="id_last_name" required placeholder="Введите фамилию">
                </div>

                <div class="infBlock">
                    <label for="id_email" class="infTitle">Почта</label>
                    <input type="text" class="infInput" 
                    name="email" id="id_email" required placeholder="Введите почту">
                </div>

                <div class="infBlock">
                    <label for="id_phone_number" class="infTitle">Телефон</label>
                    <input type="text" class="infInput" 
                    name="phone_number" id="id_phone_number" required placeholder="Введите телефон">
                </div>

                <div class="profileTitle">Адрес доставки</div>

                <div class="profileInfContainer">

                    <div class="infBlock">
                        <label for="id_region" class="infTitle">Облать/Край/Регион</label>
                        <input type="text" class="infInput" 
                        name="region" id="id_region" required placeholder="Введите Облать/Край/Регион">
                    </div>

                    <div class="infBlock">
                        <label for="id_city" class="infTitle">Город</label>
                        <input type="text" class="infInput" 
                        name="city" id="id_city" required placeholder="Введите город">
                    </div>

                    <div class="infBlock">
                        <label for="id_street" class="infTitle">Улица, дом, квартира</label>
                        <input type="text" class="infInput" 
                        name="street" id="id_street" required placeholder="Введите улицу/дом/квартиру">
                    </div>

                    <div class="infBlock">
                        <label for="id_postcode" class="infTitle">Почтовый индекс</label>
                        <input type="text" class="infInput" 
                        name="postcode" id="id_postcode" required placeholder="Введите почтовый индекс">
                    </div>

                </div>
                <button type="submit" class="save">Сохранить</button>
                {% csrf_token %}
                {% if form.email.errors %}
                <ul class="errorlist nonfield">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </form>
        </div>

        <div class="tab profileMyOrders">

            <div class="profileTitle">Мои заказы</div>
            <table class="profileMyOrdersContainer">
                <thead>
                    <tr class="myOrdersTitleContainer">
                        <th class="myOrdersTitle">Заказ</th>
                        <th class="myOrdersTitle">Дата заказа</th>
                        <th class="myOrdersTitle">Статус</th>
                        <th class="myOrdersTitle">Стоимость</th>
                    </tr>
                </thead>
                <tbody class="bucketOrdersContainer">
                {% if orders %}
                {% for order in orders %}

                    <tr class="order">
                        <td class="orderNumber">№{{ order.id }}
                            <div class="modalOrder">
                                <h3 class="modalOrderTitle">Содержимое:</h3>
                                <ul class="modalOrderUl">
                                    {% for item in order.orderitem_set.all %}
                                        <li>{{ item.product.product_name }}</li>
                                    {% endfor %}
                                </ul>
                            <div>
                        </td>
                        <td class="orderDate">{{ order.created_timestamp }}</td>
                        <td class="orderStatus">{{order.status}}</td>
                        <td class="orderPrice">{{ order.orderitem_set.total_price }}</td>
                    </tr>

                {% endfor %}
                {% else %}
                    <td colspan="4">У вас нет заказов :(</td>
                {% endif %}
                   
                </tbody>
            </table>
        </div>

        <div class="tab profilePasswrd">
            <div class="profileTitle">Смена пароля</div>
            <div class="profilePasswrdSettContainer">
                <form action="{% url 'сhangePass' %}" method="post" id="loginModal">
                    <div class="infBlock">
                        <label for="id_old_password" class="infTitle">Старый пароль</label>
                        <input type="password" class="infInput" 
                        name="old_password" id="id_old_password" required>
                    </div>
                    <div class="infBlock">
                        <label for="id_new_password1" class="infTitle">Новый пароль</label>
                        <input type="password" class="infInput"  
                        name="new_password1" id="id_new_password1" required>
                    </div>
                    <div class="infBlock">
                        <label for="id_new_password2" class="infTitle">Подтвердите пароль</label>
                        <input type="password" class="infInput" 
                        name="new_password2" id="id_new_password2" required>
                    </div>
                    <button type="submit" class="save">Сохранить</button>
                    {% csrf_token %}

                    {% if form.errors %}
                    <ul class="errorlist nonfield">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </form>
            </div>
        </div>


        <div class="tab profileAdditSett">
            <div class="profileTitle">Дополнительные настройки</div>
            <div class="profileAddirSettContainer">
                <div class="blockSetts">
                    <div class="titleBlockSetts">Язык</div>
                    <div class="contentBlockSetts">
                        <div class="itemBlockSetts"><img class="iconSetts" src="{% static 'main/img/icon setts/icon_russ_lan.png' %}" alt="русский">Русскийㅤ</div>
                        <div class="itemBlockSetts"><img class="iconSetts" src="{% static 'main/img/icon setts/icon_eng_lan.png' %}" alt="английский">Английскийㅤ</div>
                    </div>
                </div>
                <div class="blockSetts">
                    <div class="titleBlockSetts">Тема сайта</div>
                    <div class="contentBlockSetts">
                        <div class="itemBlockSetts" id="lightButton"><img class="iconSetts" src="{% static 'main/img/icon setts/icon_light_theme.png' %}" alt="светлая тема">Светлаяㅤ</div>
                        <div class="itemBlockSetts" id="darkButton"><img class="iconSetts" src="{% static 'main/img/icon setts/icon_dark_theme.png' %}" alt="темная тема">Темнаяㅤ</div>
                    </div>
                </div>
                <div class="blockSetts">
                    <div class="titleBlockSetts">Валюта</div>
                    <div class="contentBlockSetts">
                        <div class="itemBlockSetts"><img class="iconSetts" src="{% static 'main/img/icon setts/icon_ruble.png' %}" alt="рубли">Рублиㅤ</div>
                        <div class="itemBlockSetts"><img class="iconSetts" src="{% static 'main/img/icon setts/icon_dollar.png' %}" alt="доллары">Долларыㅤ</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'main/js/profile.js' %}"></script>
{% endblock  %}}

