{% extends "main/base.html" %}
{% load static %}
{% load carts_tags %}

{% block content %}
<div id="container">
    <div id="dataEntry">
        <form action="{% url "orders:create_order" %}" method="post" id="create_order_form">
            <div id="fullNameAndPhone">
                <h3 class="text-center">Личные данные</h3>
                <div id="fullName">
                    <label for="id_first_name" class="form-label order">Имя</label>
                    <input type="text" class="form-control order" id="id_first_name"
                    value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                    name="first_name" placeholder="Введите имя" required>
                    {% if form.first_name.errors %}
                    <div>{{form.first_name.errors}}</div>
                    {% endif %}
                </div>
                <div id="fullName">
                    <label for="id_first_name" class="form-label order">Фамилия</label>
                    <input type="text" class="form-control order" id="id_first_name"
                    value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                    name="first_name" placeholder="Введите фамилию" required>
                    {% if form.first_name.errors %}
                    <div>{{form.first_name.errors}}</div>
                    {% endif %}
                </div>
                <div id="fullName">
                    <label for="id_first_name" class="form-label order">Почта</label>
                    <input type="text" class="form-control order" id="id_first_name"
                    value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                    name="first_name" placeholder="Введите почту" required>
                    {% if form.first_name.errors %}
                    <div>{{form.first_name.errors}}</div>
                    {% endif %}
                </div>
                    
                {% csrf_token %}
                <div id="fullPhone">    
                    <label for="id_phone_number" class="form-label order">Телефон</label>
                    <input type="text" class="form-control order" id="id_phone_number" name="phone_number"
                        value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}"
                        placeholder="(000) 000-0000"
                        required>
                    {% if form.phone_number.errors %}
                        <div>{{form.phone_number.errors}}</div>
                    {% endif %}
                    <div style="display: none" id="phone_number_error">Неверный формат номера</div>
                </div>
            </div>

            <div id="delivery">
                <h3 class="text-center">Доставка</h3>

                <div id="fullName">
                    <label for="id_region" class="form-label order">Облать/Край/Регион</label>
                    <input type="text" class="form-control order" id="id_region"
                    value="{% if form.region.value %}{{ form.region.value }}{% endif %}"
                    name="region" placeholder="Введите облать/край/регион" required>
                    {% if form.region.errors %}
                    <div>{{form.region.errors}}</div>
                    {% endif %}
                </div>

                <div id="fullName">
                    <label for="id_city" class="form-label order">Город</label>
                    <input type="text" class="form-control order" id="id_city"
                    value="{% if form.city.value %}{{ form.city.value }}{% endif %}"
                    name="city" placeholder="Введите город" required>
                    {% if form.city.errors %}
                    <div>{{form.city.errors}}</div>
                    {% endif %}
                </div>

                <div id="fullName">
                    <label for="id_street" class="form-label order">Улица, дом, квартира</label>
                    <input type="text" class="form-control order" id="id_street"
                    value="{% if form.street.value %}{{ form.street.value }}{% endif %}"
                    name="street" placeholder="Введите улицу/дом/квартиру" required>
                    {% if form.street.errors %}
                    <div>{{form.street.errors}}</div>
                    {% endif %}
                </div>

                <div id="fullName">
                    <label for="id_postcode" class="form-label order">Почтовый индекс</label>
                    <input type="text" class="form-control order" id="id_postcode"
                    value="{% if form.postcode.value %}{{ form.postcode.value }}{% endif %}"
                    name="postcode" placeholder="Введите почтовый индекс" required>
                    {% if form.postcode.errors %}
                    <div>{{form.postcode.errors}}</div>
                    {% endif %}
                </div>

                <div id="payMethod">
                    <label class="form-label order">Способ оплаты</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="payment_on_get"
                        id="id_payment_on_get" value="0" checked>
                        <label class="form-check-label" for="id_payment_on_get">Оплата
                            картой</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="payment_on_get"
                        id="id_payment_on_get" value="1">
                        <label class="form-check-label" for="id_payment_on_get">Наличными/картой
                            при получении</label>
                        {% if form.payment_on_get.errors %}
                            <div>{{form.payment_on_get.errors}}</div>
                        {% endif %}
                    </div>
                </div>
            
            <button type="submit">Оформить заказ</button>
        </form>
    </div>

    <div id="cart_items">
        <h3 class="text-center">Ваш заказ</h3>
        <div id="content-order">
            {% user_carts request as carts %}
            {% include "carts/includes/included_cart.html" %}
        </div>
    </div>
</div>
{% endblock  %}
