{% extends "main/base.html" %}
{% load static %}
{% load carts_tags %}

{% block content %}
<div id="container">
    <div id="dataEntry">
        <form action="{% url "orders:create_order" %}" method="post" id="create_order_form">
            {% csrf_token %}
            <div id="fullNameAndPhone">
                <h3 class="text-center">Личные данные</h3>
                <div id="fullName">
                    <label for="id_first_name" class="form-label order">ФИО</label>
                    <input type="text" class="form-control order" id="id_first_name"
                        value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                        name="first_name" placeholder="Введите ФИО" required>
                    {% if form.first_name.errors %}
                        <div>{{form.first_name.errors}}</div>
                    {% endif %}
                </div>
                    
                <div id="fullPhone">    
                    <label for="id_phone_number" class="form-label order">Телефон</label>
                    <input type="text" class="form-control order" id="id_phone_number" name="phone_number"
                        value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}"
                        placeholder="(000) 000-0000"
                        required>
                    {% if form.phone_number.errors %}
                        <div>{{form.phone_number.errors}}</div>
                    {% endif %}
                    <div style="display: none" id="phone_number_error">Неверный формат номера</div>
                </div>
            </div>

            <div id="delivery">
                <h3 class="text-center">Доставка</h3>
                <div class="mb-3 deliveryAdress" id="deliveryAddressField">
                    <label for="id_delivery_address" class="form-label order">Адрес
                    доставки</label>
                    <textarea class="form-control order" id="id_delivery_address"
                        value="{% if form.delivery_address.value %}{{ form.delivery_address.value }}{% endif %}"
                        name="delivery_address" rows="2"></textarea>
                    {% if form.delivery_address.errors %}
                        <div>{{form.delivery_address.errors}}</div>
                    {% endif %}
                </div>

                <div id="payMethod">
                    <label class="form-label order">Способ оплаты</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="payment_on_get"
                        id="id_payment_on_get" value="0" checked>
                        <label class="form-check-label" for="id_payment_on_get">Оплата
                            картой</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="payment_on_get"
                        id="id_payment_on_get" value="1">
                        <label class="form-check-label" for="id_payment_on_get">Наличными/картой
                            при получении</label>
                        {% if form.payment_on_get.errors %}
                            <div>{{form.payment_on_get.errors}}</div>
                        {% endif %}
                    </div>
            </div>
            <button type="submit" class="btn btn-dark">Оформить заказ</button>
        </form>
    </div>

    <div id="cart_items">
        <h3 class="text-center">Ваш заказ</h3>
        <div id="content-order">
        {% user_carts request as carts %}
        {% include "carts/includes/included_cart.html" %}
        </div>
    </div>
</div>
{% endblock  %}
