{% extends "main/base.html" %}
{% load static %}
{% load carts_tags %}

{% block content %}

    <div id="dataEntry">
        <form action="{% url "orders:create_order" %}" method="post" id="create_order_form">
            <div id="fullNameAndPhone">
                <div class="orderTitle">Данные пользователя</div>
                
                <div class="ordBlock">
                    <label for="id_first_name" class="infTitle">Имя</label>
                    <input type="text" class="infInput"
                    value="{% if request.user.first_name %}{{ request.user.first_name }}{% endif %}"
                    name="first_name" id="id_first_name" required placeholder="Введите имя">
                </div>

                <div class="ordBlock">
                    <label for="id_last_name" class="infTitle">Фамилия</label>
                    <input type="text" class="infInput"
                    value="{% if request.user.last_name %}{{ request.user.last_name }}{% endif %}"  
                    name="last_name" id="id_last_name" required placeholder="Введите фамилию">
                </div>

                <div class="ordBlock">
                    <label for="id_email" class="infTitle">Почта</label>
                    <input type="text" class="infInput"
                    value="{% if request.user.email %}{{ request.user.email }}{% endif %}" 
                    name="email" id="id_email" required placeholder="Введите почту">
                </div>
                    
                <div class="ordBlock">
                    <label for="id_phone_number" class="infTitle">Телефон</label>
                    <input type="text" class="infInput"
                    value="{% if request.user.phone_number %}{{ request.user.phone_number }}{% endif %}"
                    name="phone_number" id="id_phone_number" required placeholder="Введите телефон">
                </div>
            </div>
            {% csrf_token %}

            <div id="delivery">
                <div class="orderTitle">Доставка</div>

                <div class="ordBlock">
                    <label for="id_region" class="infTitle">Облать/Край/Регион</label>
                    <input type="text" class="infInput"
                    value="{% if request.user.region %}{{ request.user.region }}{% endif %}"
                    name="region" id="id_region" required placeholder="Введите Облать/Край/Регион">
                </div>

                <div class="ordBlock">
                    <label for="id_city" class="infTitle">Город</label>
                    <input type="text" class="infInput"
                    value="{% if request.user.city %}{{ request.user.city }}{% endif %}"
                    name="city" id="id_city" required placeholder="Введите город">
                </div>

                <div class="ordBlock">
                    <label for="id_street" class="infTitle">Улица, дом, квартира</label>
                    <input type="text" class="infInput"
                    value="{% if request.user.street %}{{ request.user.street }}{% endif %}"
                    name="street" id="id_street" required placeholder="Введите улицу/дом/квартиру">
                </div>

                <div class="ordBlock">
                    <label for="id_postcode" class="infTitle">Почтовый индекс</label>
                    <input type="text" class="infInput"
                    value="{% if request.user.postcode %}{{ request.user.postcode }}{% endif %}"
                    name="postcode" id="id_postcode" required placeholder="Введите почтовый индекс">
                </div>

                <div id="payMethod">
                    <label class="form-label order">Способ оплаты</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="payment_on_get"
                        id="id_payment_on_get" value="0" checked>
                        <label class="form-check-label" for="id_payment_on_get">Оплата
                            картой</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="payment_on_get"
                        id="id_payment_on_get" value="1">
                        <label class="form-check-label" for="id_payment_on_get">Наличными/картой
                            при получении</label>
                        {% if form.payment_on_get.errors %}
                            <div>{{form.payment_on_get.errors}}</div>
                        {% endif %}
                    </div>
                </div>
            
            <button type="submit">Оформить заказ</button>
        </form>
        </div>

        <div id="cart_items">
            <h3 class="orderTitle2">Ваш заказ</h3>
            <div id="content-order">
                {% user_carts request as carts %}
                {% include "carts/includes/included_cart.html" %}
            </div>
        </div>

    </div>

{% endblock  %}
