{% load static %}
{% load carts_tags %}

{% user_carts request as carts %}

{% for cart in carts %}
    <div class="productAreaCart">
        <div class="productNameCart">{{ cart.product.product_name }}</div>
        
        {% if not order %}
            <div class="productCountAndPriceCart">
                <button type="button" class="btn decrement"
                data-cart-id="{{ cart.id }}"
                data-cart-change-url="{% url "cart:cart_change" %}">
                {% csrf_token %}
                —</button>
                
                <input type="text" class="numberProductsCart" value="{{ cart.quantity }}" readonly>
                
                <button type="button" class="btn increment"
                data-cart-id="{{ cart.id }}"
                data-cart-change-url="{% url "cart:cart_change" %}">
                {% csrf_token %}
                +</button>
                <span class="productPriceCart"> {{ cart.products_price }} р.</span>
            </div>
        {% else %}
            <p>{{ cart.quantity }} шт.* {{ cart.product.sell_price }} = {{ cart.products_price }} руб.</p>
        {% endif %}

        {% if not order %}
            <a href="{% url "cart:cart_remove" %}"
            class="remove-from-cart"
            data-cart-id="{{ cart.id }}">
                {% csrf_token %}
                <img src="{% static 'main/img/delete.svg' %}">
            </a>
        {% else %}
        {% endif %}
    </div>
{% endfor %}
{% if carts and not order %}
    <div class="totalPriceCart">Итого: {{ carts.total_price }}р.</div>
    <div id="downCart">
        <div><a class="placeAnOrderCart" href="{% url 'orders:create_order' %}";>Оформить заказ</a></div>
        <div><a class="myOrdersCart" href="{% url 'orders:order' %}";>Мои заказы</a></div>
    </div>
{% elif carts and order %}
    <div class="totalPriceCart">Итого: {{ carts.total_price }}р.</div>
{% else %}
    <div class="cartEmpty">Корзина пуста <span class="smile">-_-</span><span class="new-smile">\_/</span></div>
    <a class="myOrdersCart" href="{% url 'orders:order' %}";>Мои заказы</a>
{% endif %}
