{% load static %}
{% load carts_tags %}

{% user_carts request as carts %}

{% for cart in carts %}
<div class="productArea">
    <div class="productName">{{ cart.product.product_name }}</div>
    <div class="productCountAndPrice">{{ cart.quantity }} шт.* {{ cart.product.sell_price }} = {{ cart.products_price }} руб. </div>
    {% if not order %}
        <a href="{% url "cart:cart_remove" %}"
        class="remove-from-cart"
        data-cart-id="{{ cart.id }}">
            {% csrf_token %}
            <img src="{% static 'main/img/delete.svg' %}">
        </a>
    {% else %}
    {% endif %}
</div>
{% endfor %}
{% if carts and not order %}
    
    <div class="totalPrice"><span>Итого:</span> {{ carts.total_quantity }} товаров на сумму {{ carts.total_price }} руб.</div>
    <div id="downCart">
        <a class="placeAnOrder" href="{% url 'orders:create_order' %}";>Оформить заказ</a>
        <span>|</span>
        <a class="myOrders" href="{% url 'orders:order' %}";>Мои заказы</a>
    </div>
{% elif carts and order %}
    <div class="totalPrice">Итого: {{ carts.total_quantity }} товаров на сумму {{ carts.total_price }} руб.</div>
{% else %}
    <div class="cartEmpty">Корзина пуста <span class="smile">-_-</span><span class="new-smile">\_/</span></div>
    <a class="myOrders" href="{% url 'orders:order' %}";>Мои заказы</a>
{% endif %}

